%h1 Listing events

%table
  %tr
    %th Type
    %th Occurred at
    %th Pages read
    %th Rating
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.type
      %td= event.occurred_at
      %td= event.pages_read
      %td= event.rating
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
