!!!
%html
  %head
    %title iReadThat
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      .content
        %h1 iReadThat
    #content
      .notice= notice
      .alert= alert
      = yield
